In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [66]:
url = "https://www.espncricinfo.com/series/icc-cricket-world-cup-2023-24-1367856/match-schedule-fixtures-and-results"
req = requests.get(url).text

In [67]:
sp_data = BeautifulSoup(req,'lxml')

In [70]:
sp_data.find('div',class_="ds-grow ds-px-4 ds-border-r ds-border-line-default-translucent").find('a').get('href')

'/series/icc-cricket-world-cup-2023-24-1367856/england-vs-new-zealand-1st-match-1384392/full-scorecard'

In [72]:
divs = sp_data.find_all('div',class_="ds-grow ds-px-4 ds-border-r ds-border-line-default-translucent")

In [77]:
links = []
for i in divs:
    link = i.find('a').get('href')
    links.append("https://www.espncricinfo.com/"+link)

In [79]:
for i in links:
    print(i)

https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-new-zealand-1st-match-1384392/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-pakistan-2nd-match-1384393/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-bangladesh-3rd-match-1384394/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/south-africa-vs-sri-lanka-4th-match-1384395/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-australia-5th-match-1384396/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-new-zealand-6th-match-1384397/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-england-7th-match-1384398/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/pakistan-vs-sri-lanka-8th-match-1384399/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-afghanistan-9th-match-1384400/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-south-africa-10th-match-1384401/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-new-zealand-11th-match-1384402/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-pakistan-12th-match-1384403/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-england-13th-match-1384404/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-sri-lanka-14th-match-1384405/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-south-africa-15th-match-1384406/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-new-zealand-16th-match-1384407/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-bangladesh-17th-match-1384408/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-pakistan-18th-match-1384409/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/netherlands-vs-sri-lanka-19th-match-1384410/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-south-africa-20th-match-1384411/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-new-zealand-21st-match-1384412/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-pakistan-22nd-match-1384413/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-south-africa-23rd-match-1384414/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-netherlands-24th-match-1384415/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-sri-lanka-25th-match-1384416/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/pakistan-vs-south-africa-26th-match-1384417/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-new-zealand-27th-match-1384418/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-netherlands-28th-match-1384419/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-england-29th-match-1384420/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-sri-lanka-30th-match-1384421/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-pakistan-31st-match-1384422/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/new-zealand-vs-south-africa-32nd-match-1384423/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-sri-lanka-33rd-match-1384424/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-netherlands-34th-match-1384425/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/new-zealand-vs-pakistan-35th-match-1384426/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-england-36th-match-1384427/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-south-africa-37th-match-1384428/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/bangladesh-vs-sri-lanka-38th-match-1384429/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-australia-39th-match-1384430/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-netherlands-40th-match-1384431/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/new-zealand-vs-sri-lanka-41st-match-1384432/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/afghanistan-vs-south-africa-42nd-match-1384433/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-bangladesh-43rd-match-1384434/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/england-vs-pakistan-44th-match-1384435/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-netherlands-45th-match-1384436/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-new-zealand-1st-semi-final-1384437/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/australia-vs-south-africa-2nd-semi-final-1384438/full-scorecard
https://www.espncricinfo.com//series/icc-cricket-world-cup-2023-24-1367856/india-vs-australia-final-1384439/full-scorecard

In [91]:
batsmen = []
bowler = []

def extract_data(links):
    for i in links:
        req = requests.get(i).text
        souped = BeautifulSoup(req,'lxml')
        
        tables = souped.find_all('table')
        
        for i in tables[0]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
                singlebatsmen = [j.text for j in td]
                batsmen.append(singlebatsmen)
        
        for i in tables[2]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
                singlebatsmen = [j.text for j in td]
                batsmen.append(singlebatsmen)
        

        for i in tables[1]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
                singlebowler = [j.text for j in td]
                bowler.append(singlebowler)
            
        for i in tables[3]:
            tr = i.find_all("tr")
    
            for j in tr:
                td = j.find_all("td")
        
            singlebowler = [j.text for j in td]
            bowler.append(singlebowler)

In [92]:
extract_data(links)

In [93]:
print(len(batsmen))
print(len(bowler))

2033
641

In [94]:
batsmens = []
bowlers = []

for i in batsmen:
    if(len(i)==8):
        batsmens.append(i)
    else:
        pass

bowlers = []

for i in bowler:
    if(len(i)==11):
        bowlers.append(i)
    else:
        pass

In [95]:
print(len(batsmens))
print(len(bowlers))

876
319

In [108]:
bat = pd.DataFrame(batsmens)
bowl = pd.DataFrame(bowlers)

bhead = ['Batsmen','Out-by','R','B','M','4s','6s','SR']
bohead = ['Bowler','O','M','R','W','Eco','0s','4s','6s','WD','NB']

In [109]:
bat.columns = bhead
bowl.columns = bohead

In [110]:
bat

,Batsmen,Out-by,R,B,M,4s,6s,SR
0,Jonny Bairstow,c Mitchell b Santner,33,35,57,4,1,94.28
1,Dawid Malan,c †Latham b Henry,14,24,36,2,0,58.33
2,Joe Root,b Phillips,77,86,140,4,1,89.53
3,Harry Brook,c Conway b Ravindra,25,16,20,4,1,156.25
4,Moeen Ali,b Phillips,11,17,20,1,0,64.70
...,...,...,...,...,...,...,...,...
871,Travis Head,c Shubman Gill b Mohammed Siraj,137,120,166,15,4,114.16
872,Mitchell Marsh,c †Rahul b Bumrah,15,15,15,1,1,100.00
873,Steven Smith,lbw b Bumrah,4,9,11,1,0,44.44
874,Marnus Labuschagne,not out,58,110,133,4,0,52.72
875,Glenn Maxwell,not out,2,1,1,0,0,200.00

In [111]:
bowl

               Bowler   O  M   R  W   Eco  0s 4s 6s WD NB
0         Trent Boult  10  1  48  1  4.80  34  3  2  1  0
1          Matt Henry  10  1  48  3  4.80  31  6  0  0  0
2    Mitchell Santner  10  0  37  2  3.70  26  0  0  1  0
3       James Neesham   7  0  56  0  8.00  15  5  2  2  0
4     Rachin Ravindra  10  0  76  1  7.60  14  6  2  0  0
..                ...  .. ..  .. ..   ...  .. .. .. .. ..
314     Glenn Maxwell   6  0  35  1  5.83  19  4  1  0  0
315       Pat Cummins  10  0  34  2  3.40  30  0  0  2  0
316        Adam Zampa  10  0  44  1  4.40  22  1  0  1  0
317    Mitchell Marsh   2  0   5  0  2.50   7  0  0  0  0
318       Travis Head   2  0   4  0  2.00   8  0  0  0  0

[319 rows x 11 columns]

In [112]:
bat.to_excel('batsmens.xlsx')
bowl.to_excel("bowlers.xlsx")